In [4]:
print("pakistan","karachi", sep="*")

pakistan*karachi

In [5]:
print("hello", end="")
print("hi")

hellohi

In [7]:
print("bilal", end="/")
print("hi")

bilal/hi

# chapter:02

In [9]:
name="bilal"
print(name)

bilal

In [13]:
value = 100
type(value)

int

In [14]:
value="again string"
type(value)

str

In [16]:
value="sring"
type(value)

str

In [18]:
value=120
type(value)

int

In [19]:
value=15.5
type(value)

float

In [20]:
value="bilal"
type(value)

str

In [23]:
no_01 = input("enter an integer : ")
no_02 = input("enter 2nd integer : ")
print(no_01 , no_02)

enter an integer : 12
enter 2nd integer : 28
12 28

In [2]:
n1 = input("enter a number : ")
n2 = input("enter 2nd number : ")
print(n1 , n2)

enter a number : 1
enter 2nd number : 2
1 2

In [5]:
n1 = input("enter a number : ")
n2 = input("enter 2nd number : ")
print(int(n1)+int(n2))

enter a number : 1
enter 2nd number : 2
3

In [7]:
name="bilal"
f_name="muzaffar"
print(name , f_name)

bilal muzaffar

# chapter05

In [8]:
marks = 0
a = 1
b = 1
marks = a/b
print(marks)

1.0

In [11]:
a = 2
b = 3
marks = a*b
print(marks)

6

In [12]:
a = 4
b = 4
marks = a+b
print(marks)

8

In [13]:
a = 3
b = 1
marks = a-b
print(marks)

2

In [15]:
marks = 0
a = 12
b = 3
marks = a//b
print(marks)

4

In [16]:
marks = 0
a = 12
b = 3
marks = a/b
print(marks)

4.0

# chapter06

In [19]:
total_cost = 1 + (3 * 4)
total_cost

13

In [20]:
result_of_computation = (2 + 4) * 3
result_of_computation

18

In [22]:
solve_it = 2 + 3 * 5.
solve_it

17.0

In [24]:
now_solve_it = 1 / 2 + 3 // 3 + 4 ** 2
now_solve_it

17.5

# chapter09

In [30]:
if 2+2 == 4:
    print("yep, it's 4.")

yep, it's 4.

In [31]:
if 2+2 == 4:
    print("yep, it's 4.")
    print("it is body")

yep, it's 4.
it is body

In [33]:
if 2+2 == 4:
    print("yep, it's 4.")
    print("it is body")
print("outside")

yep, it's 4.
it is body
outside

In [1]:
species = "cat"
status = "single"
kingdom = "human"
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("yep it's cat.")

yep it's cat.

# exercise in class

In [56]:
num = int(input("enter a number : "))
if num%2==0:
    print(str(num)+ ">>>>is even")
    
else:
    print(str(num)+ ">>>>is odd")

enter a number : 15
15>>>>is odd

# ASSIGNMENT

In [1]:
total_marks = 500

In [2]:
maths = 90
english = 80
urdu = 60
physics = 90
chemistry = 89

In [5]:
total = maths + english + urdu + physics + chemistry
print(total)

409

In [7]:
obtained_marks = 409

In [12]:
percentage = obtained_marks / total_marks * 100
print(percentage)

81.8

In [5]:
percentage = 81.8

In [32]:
grade = " A1 "

# ASSIGN A VALUE TO GRADE BY CHECKING THE FOLLOWING:

# if percentage is greater then and equal to 90 and less then 100 grade is A1

In [25]:
if percentage == 90<100:
    print("A1")

# if percentage is greater then and eqaul to 80 and less then 90 grade is A1

In [26]:
if percentage == 80<90:
    print("A1")

# if percentage is greater then and equal to 70 and less then 80 grade is A

In [27]:
if percentage == 70<80:
    print("A")

# if percentage is greater then and equal to 60 and less then 70 grade is B

In [13]:
if percentage == 60<70:
    print("B")

# if percentage is less then 60 grade is FAIL

In [14]:
if percentage == 50<60:
    print("FAIL")

In [33]:
print(percentage , obtained_marks , grade)

81.8 409  A1