# chap 22

In [2]:
break_list = [1,5,6,9,10]
for i in break_list:
    print(i)
    if i == 6:
        break

1
5
6

In [3]:
breaklist = [1,2,3,4,5,6,7]
for i in breaklist:
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7

In [4]:
newlist = [2,4,6,8,10]
for i in newlist:
    if i == 6:
        continue
    print(i)

2
4
8
10

In [3]:
firstname = ["syed","saif","hamza"]
lastname = ["bilal","ullah","arif"]

In [4]:
fullnames =[]

In [5]:
for f in firstname:
    for l in lastname:
        fullnames.append(f+" "+l) 
fullnames

['syed bilal',
 'syed ullah',
 'syed arif',
 'saif bilal',
 'saif ullah',
 'saif arif',
 'hamza bilal',
 'hamza ullah',
 'hamza arif']

In [11]:
for i in range(1,11):
    print("2 * " + str(i) + " = " + str(i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [13]:
for x in range(2,5):
    for i in range(1,11):
        print(x,"*",i,"=",x*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [17]:
start = int(input("enter start of tables"))
end = int(input("enter end of tables"))

for tableNumbers in range (start,end):
    for counting in range(1,11):
        
        print(tableNumbers,"*",counting,"=",counting*tableNumbers)
        
    print("========")

enter start of tables2
enter end of tables5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
========

# DICTIONARIES

In [19]:
dct={}

In [20]:
type(dct)

dict

In [32]:
dct = {1:100,2:200,3:300,4:400}
dct1 = {'a':"apple", 'b':"ball"}
dct2 = {1:"a", 2:"b", 3:"c"}
dct3 = {"apple":100, "ball":200}
dct4 = {"name":["sohaib","saad","farasat"], 1:99999}
dct5 = {"a1":[dct,dct1,dct2,dct3,dct4]}
dct[1]
dct1['b']
dct5["a1"]="kuch naii"
dct5["9999"]="pata h"

In [33]:
dct5

{'a1': 'kuch naii', '9999': 'pata h'}

In [35]:
dct6={"saad":1,"farasat":2}
dct6

{'saad': 1, 'farasat': 2}

In [37]:
dct6['saad']

1

In [38]:
del dct6['saad']
dct6

{'farasat': 2}

In [41]:
dct7={1:['asad','qwer'],2:"saad",11:'danish'}
dct7[1][1]

'qwer'

In [44]:
dct8 = {1:{11:"a",22:"d",33:"g",44:"y3z"},2:"1234567"}
dct8[1][44][1]

'3'

In [56]:
dct9 = {1:"a",2:"b",3:"c",4:"d"}
for key,value in dct9.items():
    print(key,value)

1 a
2 b
3 c
4 d

In [57]:
dct9 = {1:"a",2:"b",3:"c",4:"d"}
for key,value in dct9.items():
    print(key)

1
2
3
4

In [58]:
for key in dct9.keys():
    print(dct9[key])

a
b
c
d